{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block stylesheets %}
    <link href="/resources/css/account.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="account">
        <h1 class="title">Modifier mon mot de passe</h1>

       	{{ include('account/_form_password.html.twig') }}
{% endblock %}
