{% extends 'base.html.twig' %}

{% block title %}{{ category.label }}{% endblock %}

{% block stylesheets %}
    <link href="/resources/css/categories.css" rel="stylesheet"/>
    <link href="/resources/css/products.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="category">
        <h1 class="title">{{ category.label }}</h1>

        {% if category.activeProducts|length > 0 %}
            <div class="row">
                {% for index, product in category.activeProducts %}
                    <div class="col mb-4">
                        {{ include('assets/productCard.html.twig', {'product': product}) }}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h6>Aucun produit...</h6>
        {% endif %}
    </div>
{% endblock %}
