{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <div class="mt-5">
        {{ include('assets/return.html.twig', {'route': 'admin_product_index'}) }}
        <h1 class="mb-3">Nouveau produit</h1>

        {{ include('product/admin/_form.html.twig') }}
    </div>
{% endblock %}
